.name{
    color: rgb(123, 0, 255);
    background-color: bisque;
    justify-content: center;
    align-items: center;
}
button{
    color: brown;
    border-radius: 50px;
    cursor: pointer;
    padding: 20px;
    margin: 130px;
    border: 309px;
    background-color: rgb(255, 127, 204);
}


.box{
    border: 1px solid black;
    height: 50vh;
    display: flex;
    background: green;
    justify-content: center;
    align-items: center;
}